* {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 50px;
    background: #212121;
}

.menu {
    padding: 13px 70px;
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style-type: none;
}       

.menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu_item {
    border-right: 2px dotted black;
    padding-right: 35px;
}

fffjfjffj